/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

a.btn {
  background: $brand-primary;
}
#main-menu .menu .menu-item .active, #main-menu .menu .menu-item .active+.menu-main_sub .title a {
  background: rgba(191,191,191,0.25);
  border-bottom-color: #f2b855;
}
