/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

a.btn {
  background: $brand-primary;
}
#main-menu .menu .menu-item .active, #main-menu .menu .menu-item .active+.menu-main_sub .title a {
  background: rgba(191,191,191,0.25);
  border-bottom-color: #f2b855;
}
.front {
  .block {
    h2 {
      @include responsive-typo-map($h2-text);
      margin: 36px 0px 12px;
      padding: 0;
    }
  }

  .block-system-main-block {
    h2 {
      @include adjust-font-size-to(20px, 5);

      @include breakpoint($phab) {
        @include adjust-font-size-to(30px, 6);
      }
      color: $brand-primary;
      margin: 0.9rem 0 2.1rem;
    }

    p {
      @include responsive-typo-map($h3-text);

      @include breakpoint($phab) {
        @include adjust-font-size-to(21px);
      }
     }
    }
  }



