/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';


.front {


  .front-banner{
    max-width: 1023px;
    margin: 0 auto 2rem;

    @include breakpoint($tab) {
      margin: 0 auto 4rem;
    }

  }
}
